@use '../utilities/' as *;

h1, h2, h3, h4 {
    margin-top: 0;
}

h1 {
    font-size: rem(22);
    font-weight: 700;
    color: var(--text-heading);
}

p {
    font-size: rem(15);
    font-weight: 400;
    color: var(--text-paragraph);
}

a, a:visited, a:active {
    text-decoration: none;
}