@use "../utilities/" as *;

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(30);
    margin-bottom: rem(30);

    @include respond-min(small) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-min(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(28);
    }

    &__subtitle {
        font-size: rem(14);
        font-weight: 700;
        color: var(--dark-text);
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}