@use '../utilities/' as *;

.toggle {
    &__label {
        font-size: rem(14);
        font-weight: 700;
        color: var(--dark-text);
        padding-right: rem(12);
    }
    
    &__button {
        opacity: 0;
        position: absolute;
    }

    &__background {
        background: linear-gradient(225deg, var(--toggle-bg-start), var(--toggle-bg-end));
        width: rem(48);
        height: rem(24);
        border-radius: rem(12);
        position: relative;
        padding: rem(5);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__slider {
        background-color: var(--dark-card-bg);
        width: rem(18);
        height: rem(18);
        position: absolute;
        left: rem(2);
        top: rem(3);
        border-radius: 50%;
        transition: 0.4s;
    }    

    #toggle:checked ~ .toggle__background {
        background: linear-gradient(var(--toggle), var(--toggle));
    }

    #toggle:checked ~ .toggle__background .toggle__slider {
        transform: translateX(rem(24));
        background-color: var(--light-bg);
    }
}