@use '../utilities/' as *;

.toggle {
    &__label {
        font-size: rem(14);
        font-weight: 700;
        color: var(--dark-text);
        margin-right: rem(13);
    }

    &__button {
        opacity: 0;
        position: absolute;
    }

    &__background {
        background: linear-gradient(225deg, var(--toggle-start), var(--toggle-end));
        width: rem(48);
        height: rem(24);
        border-radius: rem(12);
        position: relative;
        padding: rem(5);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            background: linear-gradient(225deg, var(--toggle-bg-start), var(--toggle-bg-end));
        }
    }

    &__slider {
        background-color: var(--toggle-slider);
        width: rem(20);
        height: rem(20);
        position: absolute;
        left: rem(2);
        top: rem(2);
        border-radius: 50%;
        transition: 0.4s;
    }

    #toggle:checked~.toggle__background {
        background: linear-gradient(var(--toggle), var(--toggle));

        &:hover {
            background: linear-gradient(225deg, var(--toggle-bg-start), var(--toggle-bg-end));
        }
    }

    #toggle:checked~.toggle__background .toggle__slider {
        transform: translateX(rem(24));
        background-color: var(--light-bg);
    }
}