@use '../utils/' as *;

.header {
    margin-top: rem(36);

    @include breakpoint(mobile) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle {
        font-size: rem(14);
        font-weight: 700;
        color: var(--dark-text);
    }

    &__toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(22);
    }

    &__toggle__label {
        font-size: rem(14);
        font-weight: 700;
        color: var(--dark-text);
        padding-right: rem(12);
    }
}