@use '../utils/' as *;

.toggle {
    &__background {
        background: linear-gradient(225deg, var(--toggle-bg-start), var(--toggle-bg-end));
        width: rem(50);
        height: rem(26);
        border-radius: rem(50);
        position: relative;
        padding: rem(5);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        opacity: 0;
        position: absolute;
    }

    &__slider {
        background-color: var(--dark-bg);
        width: rem(22);
        height: rem(22);
        position: absolute;
        left: rem(2);
        top: rem(2);
        border-radius: 50%;
        transition: transform 0.2s linear;
    }

    &__button:checked+&__background {
        background: linear-gradient(var(--toggle), var(--toggle));
    }

    &__button:checked+&__background &__slider {
        transform: translateX(rem(24));
        background-color: var(--light-bg);
    }
}