@use '../utilities/' as *;
.card {
    &__image {
        width: 90%;
        border-radius: rem(10);
        margin: 5%;
    }

    &__heading {
        margin: 2% 5%;
        padding: 0 5%;
    }

    &__description {
        margin: 5% 5% 12%;
        padding: 0 5%;
    }
}